html {
    scroll-behavior: smooth;
}

.page-preview {
    background-color: #ffffff;
    margin: 2em;
    padding: 2em;
    border-radius: 5px;
}

.link-title {
    font-size: 1.5em;
}

p {
    margin: 1em;
}

h2 {
    font-size: 1.5em;
}

blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
}

.page-content > ol, .page-content > ul {
    padding-left: 2em;
}

.page-content > ul {
    list-style: disc;
}

.page-content > ol {
    list-style: decimal;
}

.post-meta {
    font-size: 0.75em;
    color: #525252;
}

.icon-turbo {
    background-image: url(https://avatars1.githubusercontent.com/u/65977413);
    background-size: 60px;
}

.coveo-result-frame .coveo-icon {
    background-repeat: no-repeat;
    display: inline-block;
    height: 60px;
    width: 60px;
}

.coveo-result-row .coveo-turbo .group > .CoveoFieldValue > span:not([class]) {
    font-size: 13px;
    line-height: 1.5em;
    border-radius: 3px;
    padding: 0 5px 2px;
    background-color: slategray;
    color: white;
}

.CoveoSearchbox .CoveoSearchButton {
    background-color: white;
}

/* RE-STYLE */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.f-row {
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
    width: 100%;
}

.col-md-6 {
    flex: 0 0 50%;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

.f-space-between {
    justify-content: space-between;
} 

.f-align-center {
    align-items: center;
}

.col-f-1 {
    flex: 1;
}

.col-p {
    padding-left: 15px;
    padding-right: 15px;
}

.container {
    margin: 0 auto;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

body {
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

header {
    background-image: linear-gradient(to right, #1d2540, #1d2a54);
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}

header .upHeader {
    background: transparent;
}

header .upHeader .logos h3 {
    border-left: 1px solid #ffffff;
}

header .upHeader .logos h3 {
    border-left: 1px solid #ffffff;
}

header .upHeader .logos h3 a {
    color: #fff;
}

header .bottomHeader {
    border-top: none;
    background-color: transparent;
}

header .CoveoSearchbox .magic-box, header .CoveoSearchButton {
    border: none;
}

header .upHeader nav ul.menu a.current, header .upHeader nav ul.menu a:hover {
    border-bottom: 2px solid #fff;
    color: #ffffff;
}

/* NAV HEADER */

header {
    position: relative;
}

.logo-container {
    display: flex;
    align-items: center;
}
.logo {
    width: 120px;
    margin-top: -7px;
}

.logo__sub-tl {
    font-size: 18px;
    color: #fff;
    padding-left: 15px;
    margin-left: 15px;
    border-left: solid 1px #fff;
    margin-bottom: -7px;
    text-transform: uppercase;
    letter-spacing: 1.7px;
}

.nav-search {
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    padding-right: 0;
}

.nav-search .CoveoSearchInterface {
    min-height: unset;
    margin-top: -5px;
}

.nav-dropdown {
    position: relative;
    height: 100%;
}

.nav-dropdown__ul {
    position: absolute;
    display: none;
}

header .CoveoSearchbox {
    max-width: 450px;
    padding-left: 20px;
    width: 100%;
}

header .CoveoSearchbox .magic-box .magic-box-input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    color: #3f4f86;
}
header .CoveoSearchbox .magic-box .magic-box-input,
header .CoveoSearchbox .magic-box .magic-box-input input,
header .CoveoOmnibox.magic-box .magic-box-input .magic-box-underlay,
header .CoveoSearchbox .CoveoSearchButton {
    height: 38px;
}

header .CoveoSearchbox .magic-box .magic-box-input input {
    color: #1d2540;
}

header .CoveoSearchbox .magic-box .magic-box-input input::placeholder {
    color: #3f4f86;
}

header .nav-dropdown {
    margin-left: 40px; 
    color: #fff;
    font-size: 30px;
    height: 80px;
}

.nav-dropdown__toggler {
    height: 100%;
    background: #1d2540;
    width: 80px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}


/* TURBO HERO */

.turbo-hero {
    background: #f7f7f7;
}

.mini-turbo {
    width: 100px;
    margin: 0 auto;
}

.turbo-logo--big svg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.turbo-logo--big svg path {
    fill: #1d2540;
}

.hero__txt {
    height: 100%;
}

.hero__ul {
    list-style: none;
    padding-left: 20px;
}

.section-tl {
    font-size: 35px;
    color: #1d2540;
    font-weight: 900;
    position: relative;
    text-align: center;
}

.section-padding {
    padding-top: 40px;
    padding-bottom: 40px;
}

.mini-turbo {
    margin-bottom: 10px;
}

.hero__li {
    font-size: 22px;
    display: flex;
    margin-bottom: 20px;
    line-height: 1.4;
}

.hero__li .ionicons {
    margin-right: 20px;
    font-size: 40px;
}


/* SCROLL NAV */

.scroll-nav {
    list-style: none;
    display: flex;
    justify-content: center;
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    border-bottom: solid 1px #f7f7f7;
    z-index: 100;
}

.scroll-nav--a {
    padding: 10px 30px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    color: #808490;
    display: inline-block;
    text-decoration: none!important;
}

/* .scroll-nav--a.active {
    color: #1d2540;
    border-bottom: solid 2px #1d2540;
} */

.scroll-nav--a:hover {
    color: #1d2540;
    border-bottom: solid 2px #1d2540;
}


/* COMPONENT SEARC */

.component-search .CoveoSearchbox .magic-box,
.component-search .CoveoSearchbox .CoveoSearchButton {
    border: solid 1px #1d2540;
}

.component-search .CoveoSearchbox .CoveoSearchButton {
    background: #1d2540;
}

.component-search .coveo-search-button-svg {
    color: #fff;
}

@media (min-width: 992px) {
    .container {
        max-width: 900px;
    }   
}

@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }   
}

@media (min-width: 1360px) {
    /* .container {
        max-width: 1440px;
    }    */
}