html {
    scroll-behavior: smooth;
}

.page-preview {
    background-color: #ffffff;
    margin: 2em;
    padding: 2em;
    border-radius: 5px;
}

.link-title {
    font-size: 1.5em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.3em;
}

h4 {
    font-size: 1.2em;
}

blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
}

table, th, td {
    border: solid;
    border-width: 1px;
}

.page-content > ol, .page-content > ul {
    padding-left: 2em;
}

.page-content > ul {
    list-style: disc;
}

.page-content > ol {
    list-style: decimal;
}

.post-meta {
    font-size: 0.75em;
    color: #525252;
}

.icon-turbo {
    background-image: url(https://avatars1.githubusercontent.com/u/65977413);
    background-size: 60px;
}

.coveo-result-frame .coveo-icon {
    background-repeat: no-repeat;
    display: inline-block;
    height: 60px;
    width: 60px;
}

.coveo-result-row .coveo-turbo .group > .CoveoFieldValue > span:not([class]) {
    font-size: 13px;
    line-height: 1.5em;
    border-radius: 3px;
    padding: 0 5px 2px;
    background-color: slategray;
    color: white;
}

.CoveoSearchbox .CoveoSearchButton {
    background-color: white;
}

/* RE-STYLE */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.f-row {
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
    width: 100%;
    flex-wrap: wrap;
}

.col-md-6 {
    flex: 0 0 50%;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

.f-space-between {
    justify-content: space-between;
} 

.f-align-center {
    align-items: center;
}

.col-f-1 {
    flex: 1;
}

.col-p {
    padding-left: 15px;
    padding-right: 15px;
}

.container {
    margin: 0 auto;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

body {
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

header {
    background-image: linear-gradient(to right, #1d2540, #1d2a54);
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}

header .CoveoSearchbox .magic-box, header .CoveoSearchButton {
    border: none;
}

header .upHeader nav ul.menu a.current, header .upHeader nav ul.menu a:hover {
    border-bottom: 2px solid #fff;
    color: #ffffff;
}

/* NAV HEADER */

header {
    position: relative;
}

.logo-container {
    display: flex;
    align-items: center;
}
.logo {
    width: 120px;
    margin-top: -7px;
}

.logo__sub-tl {
    font-size: 18px;
    color: #f58003;
    padding-left: 15px;
    margin-left: 15px;
    border-left: solid 1px #fff;
    margin-bottom: -7px;
    text-transform: uppercase;
    letter-spacing: 1.7px;
}

.nav-search {
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
    /* position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    padding-right: 0; */
}

.nav-search .CoveoSearchInterface {
    min-height: unset;
    margin-top: -5px;
}

.nav-dropdown {
    position: relative;
    height: 100%;
}

header .CoveoSearchbox {
    max-width: 450px;
    padding-left: 20px;
    width: 100%;
}

header .CoveoSearchbox .magic-box .magic-box-input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    color: #3f4f86;
}
header .CoveoSearchbox .magic-box .magic-box-input,
header .CoveoSearchbox .magic-box .magic-box-input input,
header .CoveoOmnibox.magic-box .magic-box-input .magic-box-underlay,
header .CoveoSearchbox .CoveoSearchButton {
    height: 38px;
}

header .CoveoSearchbox .magic-box .magic-box-input input {
    color: #1d2540;
}

header .CoveoSearchbox .magic-box .magic-box-input input::placeholder {
    color: #3f4f86;
}

header .nav-dropdown {
    margin-left: 40px; 
    color: #fff;
    font-size: 30px;
    height: 80px;
}

.nav-dropdown__li a {
    text-transform: none;
    font-size: 22px;
    display: block;
    padding: 25px;
}

.nav-dropdown__li a:hover {
    background: #333c5d;
}

.nav-dropdown__toggler {
    height: 100%;
    background: #1d2540;
    width: 80px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.nav-dropdown__content {
    width: 50vw;
    right: 0;
    top: 80px;
    padding: 25px;
    background: #1d2540;
    z-index: 10;
    height: 100vh;
    height: -moz-calc(100vh - 80px);
    height: -webkit-calc(100vh - 80px);
    height: calc(100vh - 80px);
    visibility: hidden;
    position: fixed;
    transform: translateX(100%);
    transition: all 0.6s ease;
}

.nav-dropdown__bg {
    display: block;
    height: 100vh;
    height: -moz-calc(100vh - 80px);
    height: -webkit-calc(100vh - 80px);
    height: calc(100vh - 80px);
    width: 100vw;
    position: fixed;
    top: 80px;
    left: 0;
    background: #0000004a;
    visibility: hidden;
    opacity: 0;
    z-index: 3;
    transition: all 0.5s ease;
}

.nav-active .nav-dropdown__bg {
    visibility: visible;
    opacity: 1;
}

.nav-active .nav-dropdown__content {
    visibility: visible;
    transform: translateX(0);
    transition: all 0.6s ease;
}

.nav-dropdown__content .nav-dropdown__ul, .nav-dropdown__content .nav-tl{
    opacity: 0;
    transition: all 0.6s ease;
}

.nav-active .nav-dropdown__content .nav-dropdown__ul, .nav-active .nav-dropdown__content .nav-tl{
    transition: all 0.6s ease;
    opacity: 1;
}

.nav-tl {
    font-size: 18px;
    margin-top: 50px;
    padding: 0;
    margin-bottom: 20px;
    position: relative;
}

.nav-tl__content {
    padding: 10px;
    display: inline-block;
    background: #1d2540;
    position: relative;
    z-index: 2;
    padding-left: 25px;
}

.nav-tl__line {
    background: #929292;
    height: 1px;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    z-index: 1;
}


/* TURBO HERO */

.turbo-hero {
    background: #f7f7f7;
}

.mini-turbo {
    width: 100px;
    margin: 0 auto;
}

.turbo-logo--big svg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.turbo-logo--big svg path {
    fill: #1d2540;
}

.hero__txt {
    height: 100%;
    max-width: 900px;
    margin: 0 auto;
}

.hero__ul {
    list-style: none;
    padding-left: 20px;
}

.section-tl {
    font-size: 35px;
    color: #1d2540;
    font-weight: 900;
    position: relative;
    text-align: center;
}

.section-padding {
    padding-top: 40px;
    padding-bottom: 40px;
}

.mini-turbo {
    margin-bottom: 10px;
}

.hero__li {
    font-size: 20px;
    display: flex;
    margin-bottom: 20px;
    line-height: 1.4;
}

.hero__li .ionicons {
    margin-right: 20px;
    font-size: 40px;
}


/* SCROLL NAV */

.scroll-nav {
    list-style: none;
    display: flex;
    justify-content: center;
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    border-bottom: solid 1px #f7f7f7;
    z-index: 1;
}

.scroll-nav--a {
    padding: 10px 30px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    color: #808490;
    display: inline-block;
    text-decoration: none!important;
    border-bottom: solid 2px #f7f7f7;
}

/* .scroll-nav--a.active {
    color: #1d2540;
    border-bottom: solid 2px #1d2540;
} */

.scroll-nav--a:hover {
    color: #f27f04;
    border-bottom: solid 2px #f27f04;
}


/* COMPONENT SEARC */

.component-search .CoveoSearchbox .magic-box,
.component-search .CoveoSearchbox .CoveoSearchButton {
    border: solid 1px #1d2540;
}

.component-search .CoveoSearchbox .CoveoSearchButton {
    background: #1d2540;
}

.component-search .coveo-search-button-svg {
    color: #fff;
}

.hero__txt b, strong {
    font-weight: 500;
    color: #f27f04;
}

/* RESULTS TEMPLATE */
.f-col.col-icon {
    padding-right: 15px;
    flex: 0 0 150px;
}

.f-col {
    padding: 0 15px;
    flex: 1;
}

.col-icon .mini-turbo {
    background: #f7f7f7;
}

.CoveoResultLink, a.CoveoResultLink, .CoveoResult a.CoveoResultLink,
.CoveoResult a:visited, .CoveoResult a:visited:hover,
.CoveoResultLink:visited, .CoveoResultLink:visited:hover, a.CoveoResultLink:visited, a.CoveoResultLink:visited:hover, .CoveoResult a.CoveoResultLink:visited, .CoveoResult a.CoveoResultLink:visited:hover 
{
    color: #f27f04;
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
    /* font-size: 20px; */
}

.results-table-row {
    padding: 5px 10px;
    border: solid 1px #fff;
}

.results-table-row .CoveoFieldValue.coveo-with-label{
    display: flex;
}

.results-table-row span {
    color: #1d2540;
    font-weight: 600;
    line-height: 1.2;
}

.results-table-row .coveo-field-caption {
    flex: 0 0 150px;
    color: #1d2540;
    font-weight: 500;
}

.results-table {
    background: #f7f7f7;
}

.result-description {
    margin-bottom: 20px;
    line-height: 1.4;
}


/* DOC PAGE */


/* GENERICS */

.mb-40 {
    margin-bottom: 40px;
}

.page-tl {
    padding: 10px 25px;
    background: #f7f7f7;
    color: #1d2540;
}

.page-subtl {
    font-size: 24px;
    margin-bottom: 15px;
}

@media (min-width: 992px) {
    .container {
        max-width: 900px;
    }   
}

@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }   
}

@media (min-width: 1360px) {
    .container {
        max-width: 1300px;
    }   
}