---
layout: home
title: Coveo Turbo
---

<div class="home-container">
 {% for homepage in site.home %}
 <div class="home-post">
   {{ homepage.content }}
 </div>
 {% endfor %} 
</div>

<div class="docs-container">
  <div class="docs-title">
    <h1>How to guides:</h1>
  </div>
  <div class="docs-list">
    {% for doc in site.docs %}
    <div class="page-preview doc-preview">
      <a class="link-title" href="{{ doc.url }}">{{ doc.title }}</a>
      <p class="doc-description">
        {{ doc.desc }}
      </p>
    </div>
    {% endfor %}
  </div>
</div>

<div class="post-container">
  <div class="posts-title">
    <h1>Blog posts:</h1>
  </div>
  <div class="posts-list">
    {% for post in site.posts %}
    <div class="page-preview post-preview">
      <a class="link-title" href="{{ post.url | absolute_url }}">{{ post.title }}</a>

      <p class="post-meta">
        Posted on {{ post.date | date: "%B %-d, %Y" }}
      </p>

      <div class="post-entry">
        {{ post.excerpt }}
        <a href="{{ post.url | absolute_url }}" class="post-read-more">[Read&nbsp;More]</a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>